.i{
    display: flex;

}
header ul li{
margin-right:30px  ;
list-style: none;
float: left;

}

header .i ul li a{
    color: black;
    font-weight: 900;
    margin-top: 30px;
}

header .i ul li a:hover{
    text-decoration-line: underline;
    color: blueviolet;
}


nav ol{
    list-style: none;
    display: flex;
}

nav ol li{

    margin-right:10px  ;
    text-decoration: none;
    float: left;

}
nav ol span{
    margin-right:20px  ;
}
a{
    text-decoration: none;
}

nav ol li a{
    color: black;
}



.w{
    border: 1px solid black;
    height: 300px;
    width:150px ;
    padding: 10px;
    margin-right: 20px;
}
.w h1{
font-size: 15px;

}

.w h2 {
    font-size: 10px;
    color: rgb(141, 140, 140);
 }
  .w h3 {
    font-size: 10px;
        
 }
.w h4 {
 font-size: 10px;
   color: rgb(4, 155, 12);         
 }



 .s{
     display: flex;
     float: left;
    
 }